body,html{
    height: 100%;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    background: url(header.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1{
    font-size: 3rem;
    font-weight: 500;
    color:#e2dbdb ;
}


.btn{
    padding: 1rem 2rem;
    background-color: #F05F44;
    border-color: #F05F44;
    font-weight: 400;
    text-transform: uppercase;
    border-radius: 300px;
    --bs-btn-hover-bg: #ee4b08;	
    --bs-btn-hover-border-color: #ee4b08;
}

.buffer{
    height: 5rem;
}


hr {
    margin: 20px auto;
    color: #F05F44;
    border: 3px solid #F05F44;
    max-width: 65px;
    opacity: 1;  
}